
.cabecera-bloque{
border-radius: 25px;
    height: 120px;
    width: 1150px;
    background-color: #006699;
    margin: 10px auto;
    padding: 10px 25px;
}
   
.cabecera-bloque1{
border-radius: 25px;
    height: 820px;
    width: 1150px;
    background-color: #006699;
    margin: 10px auto;
    padding: 10px 25px;
}
    .izquierda-bloque{
      float: left;
      width: 500px;
    }
    
    .derecha-bloque{
     float: right;
     width: 210px;
     margin-top: 25px;
    
    }
    
    .logotexto
    {
      margin-top: 20px;  
      font-size: 35px;
      color: #FFFFFF;
    }
    
    .subtitulo
    {
      font-size: 15px;
      color: #FFFFFF;
      display: block;
      margin-left: 330px;
      margin-top: 5px;
    }
    
    .texto-derecha-encabezado
    
    {
     margin-top: 20px;
     font-size: 14px;
     color: #FFFFFF
    }
    
    .para{
    width: 104%;

    margin-top: 0px;
    background-color: #F8F8F8;
    margin: 0 auto;
    margin-left: -23px;
    margin-top: -135px;
        
        
    }
    
  /*
  
  inicial  barra Menu principio
  */
 #cssmenu ul,
#cssmenu li,
#cssmenu a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: 'Lato', sans-serif;
}
#cssmenu {
   width: 1195px; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  clear:both;
  margin-top:135px;
  margin-left: -22px;
}
#cssmenu ul {
  zoom: 1;
  background: #36b0b6;
  background: -moz-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36b0b6), color-stop(100%, #2a8a8f));
  background: -webkit-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
  background: -o-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
  background: -ms-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
  background: linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu li {
  float: left;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
  list-style: none;
}
#cssmenu li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 15px 9px 15px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid transparent;
  font-size: 16px;
}
#cssmenu li.active {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #36b0b6;
}
#cssmenu li.active a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: #1e6468;
  border: 1px solid #133e40;
  -moz-box-shadow: inset 0 5px 10px #133e40;
  -webkit-box-shadow: inset 0 5px 10px #133e40;
  box-shadow: inset 0 5px 10px #133e40;
}
#cssmenu li:hover {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #36b0b6;
}
#cssmenu li:hover a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: #1e6468;
  border: 1px solid #133e40;
  -moz-box-shadow: inset 0 5px 10px #133e40;
  -webkit-box-shadow: inset 0 5px 10px #133e40;
  box-shadow: inset 0 5px 10px #133e40;
}
 /*
  
  inicial  barra Menu FINAL
  */
  
 /*



/*
estilo tablas

*/

#tabla {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  
}

#tabla td, #tabla th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabla tr:nth-child(even){background-color: #f2f2f2;}

#tabla tr:hover {background-color: #ddd;}

#tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


h2.heading{
    padding-left: 15px;
    padding-top: 0px;
    color: #FFF;
    font-family: verdana;
    font-size: 30px;
}
h3.heading{
    padding-left: 15px;
    padding-top: 0px;
    color: #FFF;
    font-family: verdana;
    font-size: 20px;
}
h4.heading{
    padding-left: 16px;
    padding-top: 0px;
    color: #FFF;
    font-family: verdana;
    font-size: 15px;
}


.texto-bloque{
    width: 97%;
    margin: auto 0px;
  background:#5882FA;
  background-color: #5882FA;


  margin-left: 1px;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 22px;
  padding-bottom: 15px;
  margin-top: -93px;
}



.contacto{
   width: 100%;
   margin-top: -150px;
   padding-right: 50px;
   border: 2px solid;
   border-radius: 2px;
   margin-left: -22px;
   clear: both;
   
   float: left;
   background-color: #006699;
   padding-bottom: 30px;
   
}
.contacto-derecha{
    width: 42%;
    height: 200px;
    


   margin-left: 200px;
   margin-top: -310px;
   background-color: #006699;
   
   clear: both;
   
   float: right;
   
    
}


.fondo-paginas{
    width: 100%;
    padding-bottom: 50px;
 
    
}


   
    
