
body1 {

  background: #0ca3d2;
}

.contenedor {
  
  width: 700px;

    margin-top:70px;
    margin-left: -115px;
  
}

.login {
  
  margin: 90px auto 240px 490px;
  padding: 20px 20px 20px;
  width: 320px;
  background: white;
  border-radius: 3px;
  

}





.cabecera-bloque-reg{
border-radius: 25px;
    height: 120px;
    width: 1150px;
    background-color: #006699;
    margin: 10px auto;
    padding: 10px 25px;
}

